<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>

<body style="margin:130px;">
<center><h1>An AngularJs App</h1></center>

<div ng-app="stopWatchApp" ng-controller="stopWatchController"> 

<center>



<div class="jumbotron" style="width:250px;background-color:hotpink;background-image: url('https://ak3.picdn.net/shutterstock/videos/8056993/thumb/1.jpg');">

    <div class="panel panel-default" style="width:200px;height:250px;background-image: url('https://cdn.wallpapersafari.com/91/29/6Vh79w.jpg');">
    
    
    <div class="panel-heading" style="background-image: url('https://rameylady.files.wordpress.com/2013/02/grey.jpg');"><h1 style="color:white;font-size:30px;"><i>StopWatch</i></h1></div>
    <div class="panel-body"><h1 style="color:white;">{{counter}}</h1></div>
    <div>
    <button type="button" class="btn btn-success" ng-click="start()" id="start">Start</button>
    <!button ng-click="myFunction()">
    <button type="button" class="btn btn-danger" id="stop" ng-click="stop()">Stop</button>
      <button type="button" class="btn btn-primary" id="stop" ng-click="reset()">Reset</button>
    </div>
    
  </div>
  
</div>

</div>

</centre>
<script src="angular.js"></script>
<script src="app.js"></script>
</body>



<script>
 var app = angular.module("stopWatchApp", []);

app.controller("stopWatchController", ["$scope", "$interval", function($scope, $interval) {
 $scope.counter = 0;
 var timer;
 $scope.start = function() {
  timer = $interval(function() {
   $scope.counter = $scope.counter + 1;
  }, 1000);
 };
 
 $scope.stop = function() {
  if (timer) {
   $interval.cancel(timer);
   timer = undefined;
  }
 };
 
 $scope.reset = function() {
  if (timer) {
   $interval.cancel(timer);
   timer = undefined;
  }
  $scope.counter = 0;
 };
}]);
</script>

</html>
